name: Deploy docs

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          pip install poetry
          poetry install --with dev

      - name: Build site
        run: poetry run mkdocs build

      - name: Deploy to gh-pages
        run: poetry run mkdocs gh-deploy --force --config-file ./mkdocs.yml